/*HEADER*/
/*.collapse navbar-collapse texto-encabezado {
}*/

.encabezado {
    background-image:url(../src/img/steve-johnson-T12spiHYons-unsplash.jpg);
}
.texto-encabezado  a{
    font-weight: bolder;
    color: white;
    grid-column-gap: 3rem;
}
.encabezado {
    animation-duration: 3s;
    animation-name: slidein;
    align-content: center;
  }
  @keyframes slidein {
    from {
      margin-left: 100%;
      width: 300%
    } 

    to {
      margin-left: 0%;
      width: 100%;
    } 
  } 
.card-body {
  background-image: url(../src/img/negro.jpg);
}
label{
  color: white;
}
  body {
  background-image: url(../src/img/li-zhang-xRRQlR8Qu-Y-unsplash.jpg);


}
.content {
  text-align: center;
  color: #fff;
  padding: 20px;
  margin: auto;
}
.display-2 {
  font-size: 36px;
  font-weight: bold;
}
.subtitle {
  font-size: 24px;
}
.quote {
  font-size: 18px;
  margin: 20px 0;
}
.Me.gbmg {
  width: 200px;
  border-radius: 50%;
}

/*FOOTER*/
footer {
  background-image:url(../src/img/steve-johnson-T12spiHYons-unsplash.jpg);
  color: #fff;
  padding: 25px;
  text-align: center;
}
.footer-content {
  max-width: 1200px;
  margin: 0 auto;
}
.footer-links {
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.footer-links li {  /*Nombres de las etiquetas con punto . */

  margin-right: 20px;
}
.footer-links li a {
  color: #fff;
  text-decoration: none;
}
.footer-links li a:hover {
  text-decoration: underline;
}
.bi-bi-github {
  margin: 1%;
  }
  .bi-bi-linkedin {
    margin: 1%;
  }